{% extends "admin/layout.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('admin.dashboard') }}">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'admin.dashboard' %}active{% endif %}" 
                       href="{{ url_for('admin.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'admin.charts_of_accounts' %}active{% endif %}" 
                       href="{{ url_for('admin.charts_of_accounts') }}">Charts of Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'admin.active_subscribers' %}active{% endif %}" 
                       href="{{ url_for('admin.active_subscribers') }}">Active Subscribers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'admin.deactivated_subscribers' %}active{% endif %}" 
                       href="{{ url_for('admin.deactivated_subscribers') }}">Deactivated Subscribers</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}